jsonPath=/home/ivan/src/etg-mate-server/mate-test-cases.json
packageName=com.llamacorp.equate
testPackageName=com.llamacorp.equate.test
rootProjectPath=/home/ivan/latex/etg-paper/experiments/subjects/com.llamacorp.equate/
outputPath=/home/ivan/latex/etg-paper/experiments/subjects/com.llamacorp.equate/app/src/androidTest/java/com/llamacorp/equate/test/
